/* ========================== Component Name ========================== */
$component: .testimonials-11;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark;
  }

  &__content {
    width: 100%;
  }

  &__image {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    border-radius: 1rem;
  }

  &__quote {
    margin-top: 2rem;

    * {
      font-weight: 300;
    }
  }

  &__person {
    margin-top: 2rem;
  }

  &__company {
    @apply text-wire-gray;
    margin-top: 1rem;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__content {
      width: 65%;
    }

    &__image {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 2em;
      width: 45%;
      height: 100%;
      margin-top: 0;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }

    &.flip--h &__content {
      position: absolute;
      top: 0;
      right: 0;
    }

    &.flip--h &__image {
      position: static;
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
